<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>985851315257-dlgcocg3g0ifh8b1okjous3qah5s18de.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985851315257-dlgcocg3g0ifh8b1okjous3qah5s18de</string>
	<key>API_KEY</key>
	<string>AIzaSyDG_8_P2wKRHaih1ZpsrbNRQHB-pNIMlik</string>
	<key>GCM_SENDER_ID</key>
	<string>985851315257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.biplus.media</string>
	<key>PROJECT_ID</key>
	<string>biplus-media</string>
	<key>STORAGE_BUCKET</key>
	<string>biplus-media.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985851315257:ios:f6a2197a187e839432b9e8</string>
</dict>
</plist>